<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
        }
        .container {
            max-width: 800px;
        }
        .header {
            text-align: center;
            margin-bottom: 50px;
        }
        .header h1 {
            font-size: 3em;
            margin-bottom: 20px;
        }
        .header p {
            font-size: 1.2em;
            color: #666;
        }
        .list-group-item {
            font-size: 1.1em;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Quick introduction to the used car market</h1>
            <p>This project showcases data based on a portion of autoscout24 adds.</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="/best_selling_car_brand">Best selling car brands</a></li>
            <li class="list-group-item"><a href="/best_selling_models">Best selling models</a></li>
            <li class="list-group-item"><a href="/fuel_distribution">Fuel type distribution</a></li>
            <li class="list-group-item"><a href="/car_age_distribution">Car age distribution</a></li>
            <li class="list-group-item"><a href="/median_price_variation">Median price changes</a></li>
            <li class="list-group-item"><a href="/top_model_statistics">Top selling model statistics</a></li>
            <li class="list-group-item"><a href="/calculator">Calculator</a></li>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>